{%- macro aloud(content, classes) %}
<blockquote class="aloud {{ classes }}">
    <div class="corner top left"></div>
    <div class="corner top right"></div>
    <div class="corner bottom left"></div>
    <div class="corner bottom right"></div>
    <div class="content"><span class="icon f-left m-right-0-3">:scroll:</span>{{ content | safe }}</div>
</blockquote>
{% endmacro -%}
