{%- macro secret(content) %}
<div class="secret">
    <div class="corner top left"></div>
    <div class="corner top right"></div>
    <div class="corner bottom left"></div>
    <div class="corner bottom right"></div>
    {{ content | safe }}
</div>
{% endmacro -%}

{%- macro secretToggle(content) %}
<div class="secretToggle">
    <div class="corner top left"></div>
    <div class="corner top right"></div>
    <div class="corner bottom left"></div>
    <div class="corner bottom right"></div>
    {{ content | safe }}
    <input type="checkbox" id="secretToggle">
    <label>Unearth the Mystery!</label>
</div>
{% endmacro -%}