{%- macro secret(content) %}
<div class="secret">
    <div class="corner top left"></div>
    <div class="corner top right"></div>
    <div class="corner bottom left"></div>
    <div class="corner bottom right"></div>
    <div class="content"><span class="icon f-right m-left-0-3 dark-red">:envelope:</span>{{ content | safe }}</div>
</div>
{% endmacro -%}

{%- macro secretToggle(content, label='') %}
<div class="secretToggle">
    <div class="corner top left"></div>
    <div class="corner top right"></div>
    <div class="corner bottom left"></div>
    <div class="corner bottom right"></div><span class="icon f-right m-left-0-3 dark-red">:envelope:</span>{{- content | safe }}
    <label class="secretToggleLabel">
        <input type="checkbox" id="secretToggle">{{ label | safe }}</label>
</div>
{% endmacro -%}
