{%- macro secret(content) %}
<div class="secret">
    <div class="corner top left"></div>
    <div class="corner top right"></div>
    <div class="corner bottom left"></div>
    <div class="corner bottom right"></div>
    <div class="content">{{ content | safe }}</div>
</div>
{% endmacro -%}

{%- macro secretToggle(content, label='') %}
<div class="secretToggle">
    <div class="corner top left"></div>
    <div class="corner top right"></div>
    <div class="corner bottom left"></div>
    <div class="corner bottom right"></div>
    {{ content | safe }}
    <input type="checkbox" id="secretToggle">
    <label>{{ label | safe }}</label>
</div>
{% endmacro -%}