<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:site-name" content="Hesli" />
        <meta name="author" content="ShadowPhoenix" />
        <title>{{title}} - Hesli</title>
        <meta property="og:title" content="{{title}} - Hesli" />
        <meta name="description" content="{{description}}" />
        <meta property="og:description" content="{{description}}" />
        <meta property="og:image" content="" />
        <meta property="og:image:secure-url" content="" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap-grid.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="{{ '/_styles/main.css' | url }}" />

        <script src="https://kit.fontawesome.com/653e38639f.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include "partials/header.njk" %}
        <main class="page container">
            {{ content | safe }}
        </main>

        {% include "partials/tooltip.njk" %}
    </body>
</html>