.edwigePortrait {
    .img {
        border-radius: 50%;

        .inner-border {
            border-radius: 50%;

            > .corner {
                border-color: transparent;
            }
        }
    }
}