header {

    background-color: var(--parchment);
    
    .banner {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.breadcrumbs {
    line-height: 1.5;
    padding-left: var(--pagePadding);
    padding-top: 0.2rem;
    color: var(--purple);

    a {
        color: var(--darkRed);
    }
}