@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

/* Header/Quote Fonts */
@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic&display=swap');

:root {

    /* Palette */
    --chestnut: #A64137;
    --redwood: #A84E5E;
    --madder: #A71D31;
    --persianRed: #C53834;
    --jasper: #C54A37;
    --terracota: #e35336;
    --cinnamon: #d47e30;
    --butterScotch: #D2934B;
    --purpur: #6D3173;
    --ultraViolet: #6A4C93;
    --lapisLazuli: #33658A;
    --teal: #028090;
    --forestGreen: #2e6f40;
    --seaGreen: #298E6B;

    --darkRed: #a71d31;
    --brown: #6b4b36;
    --parchment: #e7dfc6;
    --purple: #692F6F;
    --lavender: #7756a6;
    --darkTeal: #33658a;
    --teal: #028090;
    --beige: #cfad86;
    --red: #c53834;
    --yellow: #c07800;
    --green: #09ae75;
    --seaGreen: #298E6B;

    /* Fonts */
    --fontTitle: Edu NSW ACT Hand Pre;
    --fontScript: Patrick Hand;
    --fontHeader: 'Playwrite NZ Basic';

    /* Variables */
    --distanceBase: 12px;
    --distanceHalf: calc(var(--distanceBase) / 2);
    --distanceDouble: calc(var(--distanceBase) * 2);

    /* Test */
    --border: black;
    --complete-border: 2px solid black;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--walnut);
    background-color: var(--brown);
    
    /* Main View */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--distanceBase);
}

.page {
    margin: var(--distanceBase);
    padding: var(--distanceBase);
    background-color: var(--parchment);
    color: var(--purple);
    font-family: var(--fontScript);
    font-size: 20px;
    width: 1320px;
}

/* HEADERS */

:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--fontTitle);
    margin: var(--distanceBase) auto var(--distanceHalf);
}

:is(h1) {
    color: var(--madder);
    color: var(--darkRed);
    font-size: clamp(2em, 3em, 5vw);
    text-align: center;
}

:is(h2, h3) {
    color: var(--darkTeal);
}

:is(h2) {
    font-size: clamp(1.75em, 2.5em, 4vw);
}

:is(h3) {
    font-size: clamp(1.5em, 2.25em, 3vw);
}

:is(h4, h5, h6) {
    font-size: clamp(1em, 1.75em, 2vw);
    color: var(--seaGreen);
}

/* TEXT */
:is(p) {
    margin: var(--distanceBase) 0 0;
}

:is(mark) {
    background-color: rgba(74, 74, 74, 0.35);
    border-radius: 0.75em 0;
    color: var(--purpur);
    color: var(--purple);

    &.red {
        background-color: rgba(197, 56, 52, 0.35);
    }

    &.yellow {
        background-color: rgba(192, 120, 0, 0.35);
    }

    &.green {
        background-color: rgba(9, 174, 117, 0.35);
    }
    
}

:is(a) {
    font-style: inherit;
    text-decoration: none;
    color: var(--teal);
    color: var(--darkTeal);
    text-decoration: underline;

    &:hover {
        color: var(--teal);
    }
}

/* QUOTE */
:is(blockquote) {
    --quote-border: 2px solid var(--purple);

    border: var(--quote-border);
    padding: var(--distanceBase);
    position: relative;
    background: rgba(207, 173, 134, 0.75);
    color: var(--purple);
    font-family: 'Playwrite NZ Basic';
    margin: var(--distanceDouble);

    > details .spoiler {
        margin-bottom: 12px;
    }
    
    p {
        margin-top: 0;
        font-size: 0.8em;
    }

    .author {
        color: var(--madder);
        margin-top: var(--distanceHalf);
        text-align: right;
        font-size: 0.8em;
        
        &::before {
            content: "- ";
        }
    }

    &.quote > .corner {
        width: 0.6rem;
        height: 0.6rem;
        border: var(--quote-border);
        position: absolute;

        &::after,
        &::before {
            content: "";
            position: absolute;
        }

        &::after {
            width: calc(2rem + 2px);
            height: 1.2rem;
        }

        &::before {
            width: 1.2rem;
            height: calc(2rem + 2px);
        }

        &.left {
            left: -0.6rem;

            &::after {
                left: calc(-4px + 1.2rem);
                border-left: var(--quote-border);
            }

            &::before {
                left: -2px;
                border-left: var(--quote-border);
            }
        }

        &.right {
            right: -0.6rem;

            &::after {
                right: calc(-4px + 1.2rem);
                border-right: var(--quote-border);
            }

            &::before {
                right: -2px;
                border-right: var(--quote-border);
            }
        }

        &.top {
            top: -0.6rem;

            &::after {
                top: -2px;
                border-top: var(--quote-border);
            }

            &::before {
                top: calc(-4px + 1.2rem);
                border-top: var(--quote-border);
            }
        }

        &.bottom {
            bottom: -0.6rem;

            &::after {
                bottom: -2px;
                border-bottom: var(--quote-border);
            }

            &::before {
                bottom: calc(-4px + 1.2rem);
                border-bottom: var(--quote-border);
            }
        }
    }

    &.aloud > .corner {
        width: 0.6rem;
        height: 0.6rem;
        border: var(--quote-border);
        position: absolute;

        &::after,
        &::before {
            content: "";
            position: absolute;
        }

        &::after {
            width: 2rem;
            height: calc(1rem-1px);
        }

        &::before {
            width: calc(1rem-1px);
            height: 2rem;
        }

        &.left {
            left: -0.6rem;

            &::after {
                left: calc(-4px + 1.2rem);
                border-left: none;
            }

            &::before {
                left: -2px;
                border-left: var(--quote-border);
            }
        }

        &.right {
            right: -0.6rem;

            &::after {
                right: calc(-4px + 1.2rem);
                border-right: none;
            }

            &::before {
                right: -2px;
                border-right: var(--quote-border);
            }
        }

        &.top {
            top: -0.6rem;

            &::after {
                top: -2px;
                border-top: var(--quote-border);
            }

            &::before {
                top: calc(-4px + 1.2rem);
                border-top: none;
            }
        }

        &.bottom {
            bottom: -0.6rem;

            &::after {
                bottom: -2px;
                border-bottom: var(--quote-border);
            }

            &::before {
                bottom: calc(-4px + 1.2rem);
                border-bottom: none;
            }
        }
    }

}

button,
.btn {
    /* --btn-border: 2px solid var(--forestGreen); */
    /* --btn-border: 2px solid #111451; */
    --btn-border: 2px solid var(--darkTeal);

	display: block;
	text-align: center;
	border-top: var(--btn-border);
	border-bottom: var(--btn-border);
	padding: 2px 1rem;
	margin: var(--distanceBase) 2rem;
	position: relative;
    color: var(--darkTeal);
    background: #d5ba96;
	transition: background 100ms;
    width: fit-content;
    font-family: var(--fontScript);
    font-size: 1em;
	cursor: pointer;

	.left,
	.right {
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		border-bottom: var(--btn-border);
		border-left: var(--btn-border);
        background: #d5ba96;
		transition: background 100ms;

		&::before {
			content: "";
			width: calc(0.75rem + 4px);
			height: calc(0.75rem + 4px);
			border: var(--btn-border);
			position: absolute;
			top: calc(1rem - 2px);
			left: calc(-0.4rem - 2px);
		}

		&::after {
			content: "";
			width: 0.5rem;
			height: 0.5rem;
            background: var(--darkTeal);
			position: absolute;
			top: calc(1rem - 2px);
			left: calc(-0rem - 2px);
		}
	}

	.left {
		left: -0.75rem;
        top: 4px;
		transform: rotate(45deg);
	}

	.right {
		right: -0.75rem;
        top: 4px;
		transform: rotate(-135deg);
	}

	&:hover {
        background: #d5ba96;
        background: var(--parchment);
        border-color: var(--teal);
        color: var(--teal);

		.left,
		.right {
            background: #d5ba96;
            background: var(--parchment);
            border-color: var(--teal);

            &::before {
                border-color: var(--teal);
            }

            &::after {
                background: var(--teal);
            }
		}
	}
}

.spoiler {
    --border: 2px solid var(--purple);
    background-color: rgba(207, 173, 134, 0.75);
    padding: var(--distanceHalf) var(--distanceBase);
    border: var(--border);
    margin: 0 var(--distanceBase);
    position: relative;

    .spoiler-content > p:first-child {
        margin: 0;
    }

    .spoiler-content > details .spoiler {
        margin-bottom: 12px;
    }

    /* body > main > details:nth-child(20) > div > div.spoiler-content > details > div > div.spoiler-content */

    > .corner {
        width: 0.6rem;
        height: 0.6rem;
        border: var(--border);
        position: absolute;

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 1.2rem;
            height: 1.2rem;
        }

        /* &::after {
            width: calc(2rem + 2px);
            height: 1.2rem;
        }

        &::before {
            width: 1.2rem;
            height: calc(2rem + 2px);
        } */

        &.left {
            left: -0.6rem;

            &::after {
                left: calc(-4px + 1.2rem);
                border-left: var(--border);
            }

            &::before {
                left: -2px;
            }
        }

        &.right {
            right: -0.6rem;

            &::after {
                right: calc(-4px + 1.2rem);
                border-right: var(--border);
            }

            &::before {
                right: -2px;
            }
        }

        &.top {
            top: -0.6rem;

            &::after {
                top: -2px;
            }

            &::before {
                top: calc(-4px + 1.2rem);
                border-top: var(--border);
            }
        }

        &.bottom {
            bottom: -0.6rem;

            &::after {
                bottom: -2px;
            }

            &::before {
                bottom: calc(-4px + 1.2rem);
                border-bottom: var(--border);
            }
        }
    }
}

.img {
    --border-width: 2px;
    --border: var(--border-width) solid var(--darkRed);

    width: fit-content;
    padding: calc(var(--distanceBase) - calc(var(--border-width) * 2));
    border: var(--border);
    margin: var(--distanceBase);
    position: relative;
    background: #d5ba96;
    /* outline: var(--border); */
    /* outline-offset: 12px; */

    img {
        display: block;
    }

    .inner-border {
        border: var(--border);

        .credits {
            padding: 0 var(--distanceHalf);
        }

        &:has(.credits) img {
            border-bottom: var(--border);
        }
    }

    .inner-border > .corner {
        position: absolute;
        width: var(--distanceBase);
        height: var(--distanceBase);
        border: var(--border);

        &.left {
            left: calc(var(--border-width) * -1);
        }

        &.top {
            top: calc(var(--border-width) * -1);
        }

        &.right {
            right: calc(var(--border-width) * -1);
        }

        &.bottom {
            bottom: calc(var(--border-width) * -1);
        }
    }
}

/* Tooltip */
.tooltip {
    text-decoration: underline;
    text-decoration-color: var(--seaGreen);
    text-decoration-thickness: 2px;
    color: var(--seaGreen);
    cursor: help;
}

#tooltip {
    --arrow-size: 10px;
    --border: 2px solid var(--seaGreen);
    position: fixed;
    background: #d5ba96;
    color: var(--purple);
    border: var(--border);
    font-family: var(--fontScript);
    font-size: 1.2em;
    padding: var(--distanceHalf) var(--distanceBase);
    min-width: min-content;
    width: max-content;
    max-width: 400px;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    
    
    .content > p:first-child {
        margin: 0;
    }
   

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    > .corner {
        width: 0.6rem;
        height: 0.6rem;
        position: absolute;

        &::after,
        &::before {
            content: "";
            position: absolute;

            width: var(--distanceDouble);
            height: var(--distanceDouble);
        }

        &.left {
            left: -0.6rem;

            &::after {
                left: var(--distanceBase);
                border-left: none;
            }

            &::before {
                left: var(--distanceBase);
                border-left: var(--border);
            }
        }

        &.right {
            right: -0.6rem;

            &::after {
                right: var(--distanceBase);
                border-right: none;
            }

            &::before {
                right: var(--distanceBase);
                border-right: var(--border);
            }
        }

        &.top {
            top: -0.6rem;

            &::after {
                top: var(--distanceBase);
                border-top: var(--border);
            }

            &::before {
                top: var(--distanceBase);
                border-top: none;
            }
        }

        &.bottom {
            bottom: -0.6rem;

            &::after {
                bottom: var(--distanceBase);
                border-bottom: var(--border);
            }

            &::before {
                bottom: var(--distanceBase);
                border-bottom: none;
            }
        }
    }
}

/* MOBILE */
@media screen and (max-width: 1400px) {
    .page {
        width: 1190px;
    }
}

@media screen and (max-width: 1200px) {
    .page {
        width: 1010px;
    }
}

@media screen and (max-width: 1034px) {
    .page {
        width: 770px;
    }
}

@media screen and (max-width: 792px) {
    .page {
        width: 590px;
    }
}

/* @media screen and (max-width: 614px) {

}

@media screen and (max-width: 440px) {

} */