aside,
.sidebar {
    background-color: var(--parchment-light);
    border: 2px solid var(--seaGreen);
    padding: 0.4rem;
    border-radius: 2rem 0.2rem;
}

aside,
.s-right {
    float: right;
    margin: 0rem 0rem 0.8rem 0.8rem;
    /* margin-left: 0.8rem; */
}

.s-left {
    float: left;
    margin: 0rem 0.8rem 0.8rem 0rem;
    /* margin-right: 0.8rem; */
}

.s-right,
.s-left {
    .secret,
    .secretToggle,
    .spoiler,
    :is(blockquote) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .img {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

/* @container article (min-width: 700px) {
    aside,
    .s-right {
        float: right;
        margin: 0rem 0rem 0.8rem 0.8rem;
    }

    .s-left {
        margin: 0rem 0.8rem 0.8rem 0rem;
        float: left;
    }
} */
