.sidebar-nav {
    flex: 0 0 12.5rem;
    border-right: 2px solid var(--brown);
    position: sticky;
    top: 1rem;
    bottom: 1rem;
    height: calc(100vh - 2rem);
    overflow-y: auto;
    background-color: var(--parchment);
    color: var(--purple);

    transition: flex-basis 0.3 ease;

    .navigation {
        margin: 0.8rem;
        margin-top: calc(0.8rem + 52px);
    }

    &.collapsed {
        flex-basis: 0;
        padding: 0;
    }
}

#backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    z-index: 999;
}

.toggle[data-open="true"] ~ .children {
    margin-left: 1rem;
}

.toggle {
    background-color: var(--beige);
    border: 2px solid var(--purple);
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    font-size: 0.75rem;
    color: var(--purple);
    margin-right: 0.3rem;

    &[data-open="true"]:after {
        content: "▼";
    }

    &[data-open="false"]:after {
        content: "▶";
    }
}

.nav-node span + a {
    display: inline-block;
    margin: 0.1rem 0;
}

.nav-node :has(button) {
    margin-top: 0.1rem;
}

@media screen and (max-width: 960px) {
    .content button#menu-toggle {
        display: block;
        padding-right: 9.6rem;
    }

    .sidebar-nav {
        border-top: 2px solid var(--brown);
        border-bottom: 2px solid var(--brown);

        position: fixed;
        z-index: 1000;
        transform: translateX(-120%);
        min-width: 250px;

        background-color: var(--parchment);

        &.open {
            transform: translateX(0);
            left: 0
        }

        button#menu-toggle {
            display: none;
        }

        .navigation {
            margin-top: 0.8rem;
        }
    }

    #backdrop.show {
        opacity: 1;
        pointer-events: all;
    }
}