aside {
    background-color: var(--parchment-light);
    border: 2px solid var(--seaGreen);
    padding: 0.4rem;
    border-radius: 2rem 0.2rem;
}

@container article (min-width: 700px) {
    aside {
        float: right;
        max-width: 300px;
        margin: 0rem 0rem 0.8rem 0.8rem;
    }
}
