aside,
.sidebar {
    background-color: var(--parchment-light);
    border: 2px solid var(--seaGreen);
    padding: 0.4rem;
    border-radius: 2rem 0.2rem;
}

aside,
.s-right {
    /* float: right; */
    margin: 0.8rem auto;
    max-width: 500px;
    width: 100%
    /* margin-left: 0.8rem; */
}

.s-left {
    /* float: left; */
    margin: 0rem 0.8rem 0.8rem 0rem;
    /* margin-right: 0.8rem; */
}

.s-right,
.s-left {
    container-type: inline-size;
    container-name: sidebar;

    .secret,
    .secretToggle,
    .spoiler,
    :is(blockquote) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .img {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

@container sidebar (max-width: 299px) {
    .s-right .hesli-divider,
    .s-left .hesli-divider {
        min-width: 0;
        width: 100%;
    }
}

@media (min-width: 769px) {
    aside,
    .s-right {
        float: right;
        margin: 0rem 0rem 0.8rem 0.8rem;
        width: clamp(300px, 33%, 500px);
    }

    .s-left {
        margin: 0rem 0.8rem 0.8rem 0rem;
        float: left;
        width: clamp(300px, 33%, 500px);
    }
}
