<footer>
    <div class="center" id="copyright">
        <div class="corner top left"></div>
        <div class="corner top right"></div>
        <div class="corner bottom left"></div>
        <div class="corner bottom right"></div>
        <p>All images are made by me, ShadowPhoenix, unless stated otherwise.</p>
        <p>© 2021 - 2026 ShadowPhoenix / Rosa Fiore - All Rights Reserved.</p>
    </div>
    {%- include "partials/madeWithTavernRumours.njk" -%}
</footer>