<footer>
    <div class="center" id="copyright">
        <div class="corner top left"></div>
        <div class="corner top right"></div>
        <div class="corner bottom left"></div>
        <div class="corner bottom right"></div>
        <p class="center">All images are made by me, ShadowPhoenix, unless stated otherwise. Not authorized for AI or LLM datasets.</p>
        <p class="center">Typeface by <a href="https://www.tjtrewin.com">TJ Trewin</a> through <a href="https://vgen.co/tjtrewin">VGen</a></p>
        <p class="center">© 2021 - 2026 ShadowPhoenix / Rosa Fiore - All Rights Reserved.</p>
    </div>
    {%- include "partials/madeWithTavernRumours.njk" -%}
</footer>