<header>
    {%- if headerImage -%}<img src="{{ headerImage | url }}" class="banner">{%- else -%}<img src="{{ default.headerImage | url }}" class="banner">{%- endif -%}
    {%- include "partials/backToTop.njk" -%}
    <div id="backdrop"></div>
    {%- include "partials/breadcrumbs.njk" -%}
</header>
